.hero {
    background-image: url("../run-buddy/assets/images/hero-bg.jpeg");
    background-position: bottom;
    height: auto; 
    text-align: center;
    margin-bottom: 40px;
    padding: 50px;
    background-size: cover;
  }

.page-title
  color: #fce138
  padding: 0 80px 15px 80px;
  font-size: 42px;
  font-weight: normal;
  font-style: italic;
  display: inline-block;
  border-bottom: 4px solid #fce138;

.secondary-content {
    width: 80%;
    margin: 0 auto;
  }
  
.secondary-content h3 {
    font-size: 25px;
    margin: 20px 0;
    color: #024e76;
  }
  
.secondary-content p {
    color: #024e76;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
  }
  
.secondary-content ul {
    color: #39a6b2;
    list-style-position: outside;
    margin: 15px 20px;
  }
  
.secondary-content li {
    margin: 10px 0;
  }